google-genai
python-dotenv
pypdf
langchain-google-genai
langchain-community
langchain-openai
langchain-ollama
langchain
langchain-nvidia-ai-endpoints
langgraph
pymupdf
pydantic
pylatex
docling
sentence-transformers
scikit-learn
huggingface_hub[hf_xet]
onnxruntime